---
import { data } from "@/mock/data";

const { Tendencies } = data;
---

<section class="g_maxwith mx-auto" id="container">
    <h1>Tendencias</h1>
    <div class="g_grid_sections">
        {
            Tendencies.map((e) => {
                return (
                    <div class="flex flex-col gap-1 ">
                        <a class="relative">
                            <img class="g_imagesgames" src={e.img} alt="" />
                            <p class="g_percent_discount">{e.discount}%</p>
                        </a>
                        <div class="flex justify-around ">
                            <p class="px-4 ">{e.title}</p>
                            <p class="px-4 g_gameprices">${e.price}</p>
                        </div>
                    </div>
                );
            })
        }
    </div>
</section>

<style>
    
</style>
