:root{
    --radius:1rem ;
    --seconds: .3s;
}
/* global styles */
.g_maxwith{
    max-width: 1000px;
}
.g_imagesgames{
    height: auto;
    width: 300px;
    border-radius: var(--radius);
    transform: scale(0.9);
    cursor: pointer;
    &:hover{
        transition: all  ease-in-out;
        transition-duration: var(--seconds);
        transform: scale(1.0);
        .g_percent_discount{
            opacity: 0;
        }

    }
    &:not(:hover){
        transition: all ease-in-out;
        transition-duration: var(--seconds);

    }
}
.g_grid_sections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1rem;
   
}
.g_percent_discount{
    background: #ff5400;
    position: absolute;
    left: 20px;
    bottom: 12px;
    padding: 3px;
}
.g_gameprices{
    font-weight: bold;
    font-size: 14px;
}
h1{
    font-size: 25px;
    color: #fff;
}
p{
    color: #fff;
    font-size: 13px;
    text-overflow: ellipsis;
}
body{
    background: #272727;
}